.sidebar {
  background-image: url("assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-position-y: bottom;
  height: 100%;
  padding: 3.6rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
