.step {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  &__number {
    display: flex;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    // background-color: $light-blue;
    box-shadow: inset 0 0 0 2px $light-blue;
    align-items: center;
    justify-content: center;

    // color: $marine-blue;
    color: $alabaster;
    font-size: 2.4rem;
    font-weight: 600;
    transition: all 0.2s;
  }

  &.active .step__number {
    background-color: $light-blue;
    box-shadow: inset 0 0 0 2.4rem $light-blue;
    color: $marine-blue;
  }

  &__descriptor {
    text-transform: uppercase;
    color: $light-gray;
    margin-bottom: 0.5rem;
  }

  &__title {
    text-transform: uppercase;
    color: $alabaster;
    font-weight: 600;
    font-size: 2rem;
  }
}
